// Light mode
$sidebar: rgb(245, 245, 245, 1);
$background: rgb(255, 255, 254, 1);
$border: rgb(217, 215, 213, 1);

$icon-white: rgb(236, 236, 236, 1);
$icon-grey: rgb(158, 158, 158, 1);
$icon-blue: rgb(73, 139, 167, 1);
$icon-yellow: rgb(163, 124, 63, 1);

$text-red: rgb(236, 19, 19, 1);
$text-yellow: rgb(183, 183, 60, 1);
$text-green: rgb(147, 189, 147, 1);
$text-blue: rgb(56, 56, 239, 1);
$text-purple: rgb(144, 104, 176, 1);
$text-pink: rgb(224, 102, 139, 1);
$text-brown: rgb(159, 46, 46, 1);
$text-black: rgb(40, 40, 40, 1);
$text-selected: rgb(173, 214, 255, 1);
$text-highlight: rgb(173, 214, 255, 0.33);

$github: #9B359B;
$linkedin: #0077B5;